
.Rproj.user/4C016E06/build_options

.Rproj.user/4C016E06/pcs/debug-breakpoints.pper

.Rproj.user/4C016E06/pcs/files-pane.pper

.Rproj.user/4C016E06/pcs/packages-pane.pper

*.pper

.Rproj.user/4C016E06/sdb/prop/INDEX

.Rproj.user/4C016E06/sdb/s-6FB3B79A/lock_file

rsconnect/shinyapps.io/hawkmoth/habDX.dcf
